<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Twitter Bot</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/users">Users</a></li>
                <li><a href="/tweets">Tweets</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>