<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/common_includes :: head"></head>
<body>
<div class="container">

    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="page-header">
        <h1>All Users</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="tweetTable">
            <thead>
            <tr>
                <th>Users Name</th>
                <th>Querys</th>
                <th>Result Type</th>
                <th>Is the bot running in traditional mode?</th>
                <th>Is the bot running is stream mode?</th>
                <th>Is the bot on rate limit cool down (10 mins)?</th>
                <th>Toggle Running</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${users}">
                <td th:text="${row.name}"></td>
                <td th:text="${row.query}"></td>
                <td th:text="${row.resultType}"></td>
                <td th:text="${row.runningTraditional}"></td>
                <td th:text="${row.runningStream}"></td>
                <td th:text="${row.onRatelimitCooldown}"></td>
                <td>
                    <a class="btn btn-default"
                       th:href="@{/users/run/{id}/og(id=${row.id})}" th:disabled="${row.runningStream}">Toggle Running
                        Traditional</a>
                    <a class="btn btn-default"
                       th:href="@{/users/run/{id}/stream(id=${row.id})}" th:disabled="${row.runningTraditional}">Toggle
                        Running Stream</a>
                </td>


                <td><a class="btn btn-default" th:disabled="${row.runningTraditional || row.runningStream}"
                       th:href="@{/users/update/{id}(id=${row.id})}">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="/users/create" class="btn btn-default btn-lg" style="margin-top:20px">Add User</a>

</div>
<script>
    $(document).ready(function () {
        $("#tweetTable").DataTable({
            "pagingType": "full_numbers",
        });
    });
</script>
</body>
</html>