<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/common_includes :: head"></head>
<body>
<div class="container">

    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="jumbotron">
        <h1>All tweets</h1>
        <p>This shows a list of all tweets that your bot has done something with. To view a tweet in your browser go to twitter.com/anything/status/{TweetId}.</p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="tweetTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tweet Id</th>
                <th>Query</th>
                <th>Original Tweet User</th>
                <th>Bot Account</th>
                <th>Did we reply to them?</th>
                <th>Did we like them?</th>
                <th>Did we retweet them?</th>
                <th>Did we follow?</th>
                <th>Tweet Contents</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${tweets}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.tweetId}"></td>
                <td th:text="${row.query}"></td>
                <td th:text="${row.userNameOfTweeter}"></td>
                <td th:text="${row.account.name}"></td>
                <td th:text="${row.hasReplyed}"></td>
                <td th:text="${row.hasLiked}"></td>
                <td th:text="${row.hasRetweeted}"></td>
                <td th:text="${row.hasFollowed}"></td>
                <td th:text="${row.tweetContents}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tweetTable").DataTable({
            "pagingType": "full_numbers",
        });
    });
</script>
</body>
</html>